<div class="container">
    <h1>Ferias detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFuncionario">Funcionario:</label>

            <div class="controls">
                <select name="repeatSelect" id="inputFuncionario" ng-model="ferias.funcionario">
                    <option ng-repeat="f in funcionarios" value="{{f.id}}">{{f.nome}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPeriodoInicial">Perido Inicial:</label>

            <div class="controls">
                <input type="text" id="inputPeriodoInicial" ng-model="ferias.periodoInicial"
                    placeholder="Periodo Inicial" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPeriodoFinal">Perido Final:</label>

            <div class="controls">
                <input type="text" id="inputPeriodoFinal" ng-model="ferias.periodoFinal" placeholder="Periodo Final" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateFerias()" class="btn btn-small btn-primary">update ferias</a>
            </div>
        </div>
    </form>
</div>